/* Estilos principais */
body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
  padding: 0;
}

#main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#banner {
  background-color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
}

#ip-query, #hwid-section {
  background-color: #222;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  background-color: #e60000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

#loading {
  text-align: center;
  display: none;
}

#results {
  margin-top: 20px;
}

#footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.8rem;
  color: #bbb;
}

#footer p {
  margin: 0;
}
